.afgevinkt {
    background-color: #5fa85f;
    max-width: 300px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 2px solid black;
}
.afgevinkt > time {
    color: #5e5e5e;
    font-size: small;
}
.afgevinkt > .name {
    font-weight: bold;  /* Maakt de tekst dikker */
    font-size: large;   /* Past de lettergrootte aan */
    margin: 0.5rem 0;   /* Voeg wat marge toe boven en onder de naam */
}